<!DOCTYPE html>
<html lang="en" style="background-color:#343a40"> <!-- $gray-800 from Bootstrap -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>{{title}}</title>
    {% for url in preload_images %}
    <link rel="preload" as="image" href="{{url|safe}}"/>
    {% endfor %}
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!--
    This doesn't get minified so we have to do it manually (leading and trailing
    whitespace is removed though. Also need to use var to be compatible with the
    legacy build.
    -->
    <script>
      var GROUP_ID={{group_id|safe}};var CHANNEL_ID={{channel_id|safe}};var USER_ID={{user_id|safe}};var USER_LIST={{user_list|safe}};var GROUP_LIST={{group_list|safe}};var CHANNEL_LIST={{channel_list|safe}};window.history.replaceState(null,"","{{url|safe}}")
    </script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
