/*
black      #000000
dimgray    #696969
gray       #808080
darkgray   #a9a9a9
silver     #c0c0c0
lightgray  #d3d3d3
gainsboro  #dcdcdc
white      #ffffff
*/

$white: white;
$gray-1: gainsboro;
$gray-2: lightgray;
$gray-3: silver;
$gray-4: darkgray;
$gray-5: gray;
$gray-6: dimgray;
$gray-7: #212529; // gray-900 from Bootstrap
$black: black;

$column-group-back: $gray-6;
$column-channel-back: $gray-5;
$column-message-back: $gray-6;
$column-user-back: $gray-5;

$channel-list-text: $gray-2;
$channel-item-hover-back: $gray-4;
$channel-item-hover-text: $white;

$group-item-back: $gray-2;
$group-create-text: $gray-7;

$message-time-text: $gray-3;
$message-content-text: $gray-1;
$message-sending-text: $gray-4;

$sender-box-back: $gray-5;
$sender-box-text: $gray-1;
$sender-placeholder-text: $gray-3;

$char-count-text: $white;
$char-count-back: rgba($gray-6, 0.5);

$status-text: $white;

$user-section-text: $gray-2;
$user-name-text: $white;
$user-name-deleted-text: $gray-3;

$edit-text: $gray-2;
$edit-hover-text: $white;

$column-title-border: $black;
$column-title-text: $white;
