@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$column-group-back: $gray-800;
$column-channel-back: $gray-700;
$column-message-back: $gray-800;
$column-user-back: $gray-700;

$channel-list-text: $gray-400;
$channel-item-hover-back: $gray-600;
$channel-item-hover-text: $white;

$group-item-back: $gray-200;
$group-create-back: $gray-500;
$group-create-text: $gray-900;

$message-time-text: $gray-500;
$message-content-text: $gray-300;
$message-sending-text: $gray-600;

$sender-box-back: $gray-700;
$sender-box-text: $gray-300;
$sender-placeholder-text: $gray-500;

$char-count-text: $white;
$char-count-back: rgba($gray-900, 0.5);

$status-text: $white;

$user-section-text: $gray-300;
$user-name-text: $white;
$user-name-deleted-text: $gray-400;
$user-picture-back: $gray-200;

$edit-text: $gray-400;
$edit-hover-text: $white;

$column-title-border: $black;
$column-title-text: $white;
